<%= form_for :session, url: session_path, html: { class: 'login-box__content' } do |form| %>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <div class="form-default__row">
    <div class="form-default__column form-default__column--two-columns text-field">
      <%= form.label :email %>
      <%= form.text_field :email, type: 'email', placeholder: 'E-mail' %>
    </div>

    <div class="form-default__column form-default__column--two-columns password-field">
      <%= form.label :password %>
      <%= form.password_field :password, placeholder: 'Senha' %>
    </div>
  </div>

  <div class="form-default__row">
    <div class="form-default__column form-default__column--two-columns">
      <div class="other-links">
        <% if Clearance.configuration.allow_sign_up? %>
          <%= link_to t(".sign_up"), sign_up_path, class: 'sign_up' %>
        <% end %>
        |
        <%= link_to t(".forgot_password"), new_password_path, class: 'forgot_password' %>
      </div>
    </div>

    <div class="form-default__column form-default__column--two-columns submit-field form-default--text-right">
      <%= form.submit class: 'button user-new--left button--left' %>
      <%= link_to 'Login com Facebook', '/auth/facebook', id: 'login_with_facebook', class: 'button button--right' %>
    </div>
  </div>
<% end %>
