<%= form_for :session, url: session_path, html: { class: 'login-box__content' } do |form| %>
  <% flash.each do |key, value| %>
    <div class="flash <%= key %>"><%= value %></div>
  <% end %>

  <div class="text-field">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email', placeholder: 'E-mail' %>
  </div>

  <div class="password-field">
    <%= form.label :password %>
    <%= form.password_field :password, placeholder: 'Senha' %>
  </div>

  <div class="submit-field">
    <%= form.submit class: 'button button--left' %>
    <%= link_to 'Login com Facebook', '/auth/facebook', id: 'login_with_facebook', class: 'button button--right' %>
  </div>

  <div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %>
      <%= link_to t(".sign_up"), sign_up_path, class: 'sign_up' %>
    <% end %>

    <%= link_to t(".forgot_password"), new_password_path, class: 'forgot_password' %>
  </div>
<% end %>
