<%= simple_form_for(@collective) do |f| %>
  <% if @collective.errors.any? %>
    <div class="flash error">
      <ul>
      <% @collective.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-default__row">
    <div class="form-default__column form-default__column--two-columns">
      <div class="form-default__row">
        <%= f.input :name, wrapper: false %>
      </div>

      <div class="form-default__row ">
        <%= f.input :address, wrapper: false %>
      </div>

      <div class="form-default__row form-default--margin-bottom-none">
        <div class="form-default__column--three-columns">
          <%= f.input :facebook_link, wrapper: false %>
        </div>
        <div class="form-default__column--three-columns">
            <%= f.input :email, as: :email, wrapper: false %>
        </div>
        <div class="form-default__column--three-columns">
            <%= f.input :website, as: :url, wrapper: false %>
        </div>
      </div>
    </div>

    <div class="form-default__column form-default__column--two-columns">
      <%= f.input :about, as: :text, wrapper: false, input_html: { class: 'textarea-about' } %>
    </div>
  </div>

  <div class="form-default__row">
    <div class="form-default__column--two-columns">
      <div class="form-default__column--two-columns">
        <%= f.label :avatar %> <%= f.attachment_field :avatar %>
        <% if @collective.persisted? && @collective.avatar %>
          <%= image_tag attachment_url(@collective, :avatar, :fit, 200, 200) %>
        <% end %>
      </div>

      <div class="form-default__column--two-columns">
        <%= f.label :cover %> <%= f.attachment_field :cover %>
        <% if @collective.persisted? && @collective.cover %>
          <%= image_tag attachment_url(@collective, :cover, :fit, 200, 200) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-default__row">
    <h3 class="form-default--subtitle">Interesses</h3>

    <div class="form-list-tags">
      <%= f.collection_check_boxes :tag_ids, @tags, :id, :name, item_wrapper_class: 'form-list-tags__item' %>
    </div>
  </div>

  <div class="form-default__row form-default--text-right">
    <%= f.submit %>
  </div>
<% end %>
