<div class="collective">
  <div class="wrapper">
    <header class="collective__header collective__header--collective">
      <h3 class="collective__title collective__title--image">
        <%= image_tag attachment_url(collective, :avatar, :fill, 128, 128) %>
        <%= link_to collective.name, collective %>
      </h3>
      <div class="collective__resume">
        <%= truncate(collective.about, length: 110) %>
      </div>
      <ul class="list-info-small">
        <%= content_tag :li,
          collective.address,
          class: 'list-info__item list-info__item--icon-pin' if collective.address %>
      </ul>

      <ul class="list-tags list-tags--small">
        <% collective.tags.each do |tag| %>
        <li class="list-tags__item list-tags--icon-<%= tag[:name].parameterize %>" data-tooltip="<%= tag[:name] %>">
          <a class="list-tags__link" href="javascript:;"><%= tag[:name] %></a>
        </li>
        <% end %>
      </ul>
    </header>
  </div>

  <%= link_to collective_path(collective) do %>
    <figure class="collective__image"
      data-cover="<%= attachment_url(collective, :cover, :fill, 400, 200) %>">
    </figure>
  <% end %>
</div>
