<section class="cover-pages cover-pages--shadow cover-pages--shadow--down">
  <div class="cover-pages__form">
    <%= render partial: 'collectives/search' -%>
  </div>

  <figure class="cover-pages__image" data-cover="<%= rand_cover %>"></figure>
</section>

<nav class="navigation-collectives">
  <div class="wrapper">
    <div class="navigation-collectives__left">
      <%= link_to I18n.t("interventions.new.title").pluralize, interventions_path(search_params), class: 'navigation-collectives__link' %>
      <%= link_to I18n.t("collectives.show.title").pluralize, 'javascript:;', class: 'navigation-collectives__link navigation-collectives__link--current' %>
    </div>
  </div>
</nav>

<section class="collective-main">
  <div class="wrapper">
    <div class="collective-main__list">
      <% @collectives.each do |collective| %>
        <div class="collective-main__item">
          <%= render 'collectives/preview', collective: collective %>
        </div>
      <% end %>
    </div>

    <div class="collective-main__pagination">
      <%= paginate @collectives %>
    </div>
  </div>
</section>
