<section class="cover-pages cover-pages--shadow cover-pages--shadow--up">
  <div class="wrapper">
    <h2 class="cover-pages__title-page"><%= @collective.name %></h2>
  </div>

  <figure class="cover-pages__image"
    data-cover="<%= attachment_url(@collective, :cover) %>">
  </figure>
</section>

<main class="main wrapper">
  <aside class="sidebar">
    <figure class="sidebar__image"
      data-cover="<%= attachment_url(@collective, :avatar, :fill, 200, 200) %>">
    </figure>

    <% if policy(@collective).edit? %>
      <nav class="menu-user-action">
        <%= link_to 'Criar evento', new_collective_intervention_path(collective_id: current_collective), class: "button button-full button-margin-bottom" %>
        <%= link_to 'Editar', edit_collective_path(@collective), class: "button button-full" %>
      </nav>
    <% end %>

    <ul class="list-tags list-tags--large">
      <% @collective.tags.each do |tag| %>
        <li class="list-tags__item list-tags--icon-<%= tag[:name].parameterize %>" data-tooltip="<%= tag[:name] %>">
          <a class="list-tags__link" href="javascript:;"><%= tag[:name] %></a>
        </li>
      <% end %>
    </ul>

    <ul class="list-info">
      <%= content_tag :li,
        @collective.address,
        class: 'list-info__item list-info__item--icon-pin' if @collective.address %>

      <%= content_tag :li,
        link_to(@collective.website, @collective.website),
        class: 'list-info__item list-info__item--icon-notebook' if @collective.website %>

      <%= content_tag :li,
        link_to(@collective.email, "mailto:#{@collective.email}"),
        class: 'list-info__item list-info__item--icon-mail' if @collective.email %>
   </ul>

    <div class="fb-like" data-href="<%= request.url %>" data-width="232" data-show-faces="true" data-share="true"></div>
  </aside>

  <div class="content">
    <article class="text">
      <%= simple_format(@collective.about) %>
    </article>
    <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-numposts="10"></div>
  </div>

</main>
<div class="wrapper">
  <% if @collective.interventions.any? %>
    <h3 class="title-bottom">Últimos eventos</h3>
  <% end %>
</div>
<% if @collective.interventions.any? %>
<section class="collective-main">
  <div class="wrapper">
    <div class="collective-main__list collective-main__list--margin-bottom">
      <% @collective.interventions.each do |intervention| %>
        <%= render 'collectives/interventions/details', intervention: intervention %>
      <% end %>
    </div>
  </div>
</section>
<% end %>
