.form-register-collectives{
  div{
    @extend %clearfix;
    display: block;
    margin-bottom: 10px;

    &:last-child{
      margin-bottom: 0;
    }

    label{
      display: none;
    }
  }

  input{
    width: 100% !important;
    height: 50px !important;
    line-height: 50px !important;
    padding: 10px 15px !important;
    border: none !important;

    font-family: $fontPTSans;
    font-size: rem(16);
    font-weight: 400;
    color: darken($gray, 20%);
  }

  .button{
    height: 50px !important;
    line-height: 50px !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    text-align: center;
    display: block;

    &--left{
      width: 100px;
      background: #39b44a;
      float: left;

      @include media(max-width $mobile-size) {
        width: 90px;
      }

      &:hover{
        background: darken(#39b44a, 5%);
      }
    }

    &--right{
      width: 200px;
      background: #45619d;
      float: right;

      @include media(max-width $mobile-size) {
        width: 190px;
      }

      &:hover{
        background: darken(#45619d, 5%);
      }
    }
  }
}

.form-default{
  padding: 50px 0;

  @include media(max-width $mobile-size) {
    padding: 50px 10px;
  }

  &__title{
    display: block;
    margin-bottom: 20px;
    font-family: $fontNewCicleSemi;
    font-size: rem(30);
    font-weight: 400;
  }

  label{
    display: block;
    margin-bottom: 5px;
    font-family: $fontPTSans;
    font-size: rem(16);
    font-weight: 400;
    color: darken($gray, 25%);
    cursor: pointer;

    &.string,
    &.text,
    &.tel,
    &.datetime,
    &.email{
      color: darken($gray, 40%);
    }
  }

  input[type=text],
  input[type=email],
  input[type=password],
  input[type=tel],
  input[type=url],
  textarea{
    display: block;
    padding: 0;
    margin: 0;
    margin-bottom: 0;
    font-family: $fontPTSans;
    font-size: rem(14);
    font-weight: 400;
    color: darken($gray, 30%);
  }

  input[type=text],
  input[type=email],
  input[type=tel],
  input[type=url],
  input[type=password]{
    height: 40px;
    line-height: 40px;
    padding: 0 10px;
    background: $white;
  }

  .textarea-about{
    height: 220px;
    padding: 10px;
    box-sizing: none !important;
  }

  select.datetime{
    display: inline-block;
  }

  &__row{
    @extend %clearfix;
    margin-bottom: 20px;
  }

  &__column{
    &--one-column{
      @include span-columns(12);
    }

    &--two-columns{
      @include span-columns(6);
    }

    &--three-columns{
      @include span-columns(4);
    }

    @include media(max-width $mobile-size) {
      &--one-column,
      &--two-columns,
      &--three-columns{
        @include span-columns(12);
        margin-bottom: 10px;

        &:last-child{
          margin-bottom: 0;
        }
      }
    }
  }

  &--margin-bottom-none{
    margin-bottom: 0;
  }

  &--subtitle{
    display: block;
    margin-bottom: 10px;
    font-family: $fontPTSans;
    font-size: rem(20);
    font-weight: 400;
    color: darken($gray, 45%);
  }

  &--text-right{
    width: auto;
    float: right;
    text-align: right;

    a{
      margin-right: 15px;

      &:last-child{
        margin-right: 0;
      }
    }

    .user-new--left{
      margin-right: 15px;
    }
  }
}

.form-list-tags{
  @extend %clearfix;
  background-color: lighten($gray, 10%);
  padding: 20px 20px 10px 20px;
  border-radius: 5px;

  &__item{
    @include span-columns(3);
    @extend %clearfix;
    display: block;

    @include media(max-width $mobile-size) {
      @include span-columns(12);
    }

    &:nth-child(4n+4){
      @include omega();
    }

    label{
      @extend %clearfix;

      input,
      label{ display: inline-block; }

      input{}
      label{}
    }
  }
}

.user-new{
  font-size: 14px !important;

  &--left{ float: left; }
  &--right{ float: right; }
}
