.pagination{
  span{
    a,
    &.current,
    &.gap{
      height: 30px;
      line-height: 30px;
      padding: 0 10px;
      margin: 0 1px;
      border-radius: 4px;
      display: inline-block;
      font-family: $fontPTSans;
      font-size: rem(14);
      font-weight: 400;
      color: $white;
    }

    a{
      background-color: darken($gray, 10%);

      &:hover{
        background-color: darken($gray, 25%);
      }
    }

    &.gap{
      background-color: darken($gray, 10%);
    }

    &.current{
      background-color: darken($gray, 25%);
    }
  }
}
