$width: 170px;

[data-tooltip]{
  cursor: pointer;
  text-decoration: none;
  position: relative;

  &:before,
  &:after{
    @include transition(.1s);
    display: block;
    bottom: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }

  &:before{
    width: 0;
    height: 0;
    left: calc(50% - 6px / 2);
    border: 6px solid transparent;
    border-top-color: #000;
    border-top-color: hsla(0, 0%, 20%, 0.9);
    margin-bottom: 3px;
    content: "";
    z-index: 1001;
  }

  &:after{
    width: $width;
    padding: 5px;
    background: #000;
    background: hsla(0, 0%, 20%, 0.9);
    border-radius: 3px;
    margin-bottom: 15px;
    left: calc(50% - #{$width}/2);
    text-align: center;
    font-family: $fontPTSans;
    font-size: rem(13);
    color: #fff;
    content: attr(data-tooltip);
  }

  &:hover{
    &:before,
    &:after{
      opacity: 1;
      visibility: visible;
    }

    &:before{
      margin-bottom: 0px;
    }

    &:after{
      margin-bottom: 12px;
    }
  }
}
