.collective{
  width: 100%;
  height: 400px;
  background-color: $white;
  border-radius: 4px;
  box-shadow: 0px 0px 50px #ddd;

  figure {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    height: 180px;
    overflow: hidden;
  }

  .wrapper {
    height: 220px;
    padding: 20px 20px 10px 20px;

    @include media(max-width $mobile-size) {
      padding: 20px 20px 10px 20px;
    }
  }

  > a{
    height: 180px;
    display: block;
    overflow: hidden;
    position: relative;
  }

  &__header{
    height: 130px;
    position: relative;

    &--collective {
      height: 186px;
    }
  }

  &__link{
    @extend %hide-text;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: block;
    position: absolute;
  }

  &__title,
  &__date,
  &__pin{
    display: block;
    font-family: $fontPTSans;
    font-weight: 400;
  }

  &__resume {
    font-size: rem(15);
    color: darken($gray, 35%);
    margin: 10px 0;
    line-height: 20px;
  }

  &__title{
    margin-bottom: 10px;
    font-size: rem(17);

    &--image {
      height: 40px;

      img{
        width: 40px;
        height: 40px;
        border-radius: 40px;
        float: left;
      }

      a {
        width: 220px;
        height: 40px;
        overflow: auto;
        line-height: 40px;
        display: block;
        padding-left: 10px;
        float: left;
        white-space: nowrap;
      }
    }

    &,
    & a{
      color: $black;
    }
  }

  &__date,
  &__pin{
    padding-left: 20px;
    margin-bottom: 3px;
    font-size: rem(15);
    color: darken($gray, 35%);

    &,
    & a{
      color: darken($gray, 35%);
    }
  }

  &__date{
    background: url(asset_path("icons/date.svg")) no-repeat left center;
  }

  &__pin{
    background: url(asset_path("icons/pin.svg")) no-repeat left center;
  }

  &__image{
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    overflow: hidden;

    img{
      display: block;
    }
  }
}

.list-tags{
  @extend %clearfix;
  margin: 15px 0;

  &:hover{
    .list-tags__item{
      opacity: .3;
    }
  }

  &__item{
    float: left;
    margin-right: 4px;
    margin-bottom: 4px;

    &:hover{
      opacity: 1 !important;
    }
  }

  &--small{
    margin: 5px 0;
    .list-tags__link{
      width: 20px;
      height: 20px;
    }
  }

  &--large{
    .list-tags__link{
      width: 30px;
      height: 30px;
    }

    .list-tags__item:nth-child(7n+7){
      @include omega();
    }
  }

  &__link{
    @extend %hide-text;
    display: block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &--icon-arte-e-cultura a,
  &--icon-arte-e-cultura-en a{
    background-image: url(asset_path("icons/tag-arte-e-cultura.svg"));
  }

  &--icon-ciencia-e-tecnologia a,
  &--icon-ciencia-e-tecnologia-en a{
    background-image: url(asset_path("icons/tag-ciencia-e-tecnologia.svg"));
  }

  &--icon-criancas a,
  &--icon-criancas-en a{
    background-image: url(asset_path("icons/tag-criancas.svg"));
  }

  &--icon-eventos a,
  &--icon-eventos-en a{
    background-image: url(asset_path("icons/tag-eventos.svg"));
  }

  &--icon-gastronomia a,
  &--icon-gastronomia-en a{
    background-image: url(asset_path("icons/tag-gastronomia.svg"));
  }

  &--icon-idosos a,
  &--icon-idosos-en a{
    background-image: url(asset_path("icons/tag-idosos.svg"));
  }

  &--icon-jogos-esporte-e-lazer a,
  &--icon-jogos-esporte-e-lazer-en a{
    background-image: url(asset_path("icons/tag-jogos-esporte-e-lazer.svg"));
  }

  &--icon-meio-ambiente a,
  &--icon-meio-ambiente-en a{
    background-image: url(asset_path("icons/tag-meio-ambiente.svg"));
  }

  &--icon-oficinas-e-educacao a,
  &--icon-oficinas-e-educacao-en a{
    background-image: url(asset_path("icons/tag-oficinas-e-educacao.svg"));
  }

  &--icon-parques-pracas-e-ruas a,
  &--icon-parques-pracas-e-ruas-en a{
    background-image: url(asset_path("icons/tag-parques-pracas-e-ruas.svg"));
  }

  &--icon-arquitetura-e-urbanismo a,
  &--icon-arquitetura-e-urbanismo-en a{
    background-image: url(asset_path("icons/tag-arquitetura-e-urbanismo.svg"));
  }

  &--icon-transporte-e-mobilidade a,
  &--icon-transporte-e-mobilidade-en a{
    background-image: url(asset_path("icons/tag-transporte-e-mobilidade.svg"));
  }
}

.list-info{
  margin-bottom: 30px;

  &--small {
    margin-top: 10px;
    margin-bottom: 5px;
  }

  &__item{
    display: block;
    margin-bottom: 5px;
    padding-left: 25px;

    &:last-child{
      margin-bottom: 0;
    }

    &,
    & a{
      display: block;
      font-family: $fontPTSans;
      font-size: rem(15);
      color: darken($gray, 35%);
      text-overflow: ellipsis;
      overflow: hidden;
    }

    a:hover{
      color: $black;
    }

    &--icon-home{      background: url(asset_path("icons/home.svg")) no-repeat left 0; }
    &--icon-date{      background: url(asset_path("icons/date.svg")) no-repeat left 0; }
    &--icon-notebook{  background: url(asset_path("icons/notebook.svg")) no-repeat left 0; }
    &--icon-phone{     background: url(asset_path("icons/phone.svg")) no-repeat left 0; }
    &--icon-pin{       background: url(asset_path("icons/pin.svg")) no-repeat left 0; }
    &--icon-mail{      background: url(asset_path("icons/mail.svg")) no-repeat left 0; }
  }
}

.intervention-collective {
  height: 40px;
  margin-top: 20px;

  &__image {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    float: left;
  }

  &__name {
    width: 220px;
    height: 40px;
    line-height: 40px;
    display: block;
    padding-left: 10px;
    float: left;
    overflow: auto;
    white-space: nowrap;
    color: #0a0a0a;
    font-weight: bold;
    font-family: $fontPTSans;
  }
}
