.content{
  @include span-columns(8.5);
  @include omega();
  float: right;
  padding-top: 40px;
  position: relative;

  @include media(max-width $mobile-size) {
    @include span-columns(12);
    @include omega();
    padding: 0 10px;
  }

  &--padding-top-none{
    padding-top: 0;
  }

  &--float-left{
    float: left;
  }
}
