[data-cover]{
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.cover{
  width: 100%;
  height: 750px;
  margin-top: 70px;
  background: url(asset_path("covers/cover-home.svg")) no-repeat bottom center;
  background-size: cover;
  display: block;
  position: relative;

  @include media(max-width $mobile-size) {
    height: 500px;
    margin-top: 50px;
  }

  &__main{
    @extend %clearfix;
  }

  &__title,
  &__text{
    width: 100%;
    display: block;
    text-align: center;
    font-family: $fontNewCicleGordita;
    color: $black;
  }

  &__title{
    margin-bottom: 10px;
    font-size: rem(52);
    font-weight: 400;

    @include media(max-width $mobile-size) {
      font-size: rem(30);
    }
  }

  &__text{
    margin-bottom: 30px;
    line-height: rem(34);
    font-size: rem(30);
    font-weight: 400;

    @include media(max-width $mobile-size) {
      font-size: rem(16);
      line-height: rem(20);
    }
  }

  &__button{
    width: 160px;
    height: 60px;
    line-height: 60px;
    padding: 0;
    margin: 0 auto;
    display: block;
    background-color: $purple;
    text-align: center;
    font-size: rem(32);
    font-weight: lighter;
    font-family: $fontAgencyFB;
  }
}

.cover-pages{
  width: 100%;
  height: 280px;
  display: block;
  position: relative;

  @include media(max-width $mobile-size) {
    height: 410px;
  }

  &--shadow{
    &:before{
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: '';
      position: absolute;
      z-index: 2;
    }

    $gradient_init: 0;
    $gradient_end: .5;

    &--up{
      &:before{
        @include linear-gradient(rgba($black, $gradient_init), rgba($black, $gradient_end), $fallback: transparent);
      }
    }

    &--down{
      &:before{
        @include linear-gradient(to top, rgba($black, $gradient_init), rgba($black, $gradient_end), $fallback: transparent);
      }
    }
  }

  &__image,
  &__form{
    width: 100%;
    height: 100%;
  }

  &__image{
    padding: 0;
    margin: 0;
    position: relative;
  }

  &__form{
    top: 0;
    left: 0;
    position: absolute;
    z-index: 3;
  }

  &__title-form{
    display: block;
    margin-bottom: 20px;
    font-family: $fontNewCicleSemi;
    font-size: rem(40);
    font-weight: 400;
    color: $white;

    @include media(max-width $mobile-size) {
      font-size: rem(21);
    }
  }

  &__title-page{
    @include span-columns(8.5);
    line-height: 35px;
    top: 220px;
    right: 0;
    font-family: $fontNewCicleGordita;
    font-size: rem(40);
    color: $white;
    position: absolute;
    z-index: 4;

    @include media(max-width $mobile-size) {
      @include span-columns(12);
      @include omega();
      text-align: center;
      font-size: rem(30);
      top: 180px;
    }
  }

  .button {
    font-weight: lighter !important;
    font-family: $fontAgencyFB !important;
    font-size: 1.8em !important;
  }
}
