.footer{
  width: 100%;
  height: 80px;
  background-color: $white;
  border-top: solid 1px #ddd;
  position: relative;

  .wrapper{
    @extend %clearfix;
    height: 100%;
  }

  .logo{
    top: calc(50% - 80px/2);
    left: calc(50% - 115px/2);
    position: absolute;
    margin: 15px 0;

    @include media(max-width $mobile-size) {
      left: 20px;
    }
  }

  &--left,
  &--right{
    padding: 25px 0;
  }

  &--left{
    float: left;

    @include media(max-width $mobile-size) {
      float: right;
    }

    .footer__menu__link{
      margin-right: 30px;

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &--right{
    float: right;

    @include media(max-width $mobile-size) {
      padding: 0;
      float: none;
    }

    .footer__menu{
      @extend %clearfix;
      margin-right: 0;

      @include media(max-width $mobile-size) {
        margin: 0 auto !important;
        width: 245px;
        display: block;
        position: relative;
        float: initial;
      }
    }
  }

  &__menu,
  &__facebook{
    float: left;

    @include media(max-width $mobile-size) {
      margin-right: 0 !important;
      float: right;
    }
  }

  &__menu{
    margin-right: 30px;

    &__link,
    &__span{
      height: 30px;
      line-height: 33px;
      float: left;
      display: block;
      font-family: $fontNewCicleSemi;
      font-size: rem(14);
      font-weight: 400;
      color: $black;
      position: relative;
    }

    &__link{
      &:hover{
        color: $red;
      }
    }

    &__span{
      &--margin{
        float: left;
        display: block;
        margin: 0 0px;
      }
    }
  }
}
