body{
  padding-top: $height-menu;

  &.home.home-index{
    padding-top: 0px;
  }
}

.home .header{
  background-color: transparent !important;

 .logo{
   display: none;
 }
}

.header{
  width: 100%;
  height: $height-menu;
  background-color: $white;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 9;
  border-bottom: 1px solid #ddd;
}

.user-signed{
  top: 0;
  right: 0;
  padding-top: 20px;
  font-family: $fontPTSans;
  font-size: rem(14);
  color: darken($gray, 20%);
  position: absolute;
}
