.logo{
  display: block;
  margin: 0;
  padding: 0;

  a{
    @extend %hide-text;
    width: 100%;
    height: 100%;
    display: block;

    background: url(asset_path("logo.png")) no-repeat center center;
    background-size: cover;
  }

  &--header{
    margin-top: 5px;
    margin-right: 30px;
    float: left;
  }

  &--small{
    width: 72px;
    height: 50px;
  }

  &--normal{
    width: 86px;
    height: 59px;
  }

  &--large{
    width: 288px;
    height: 334px;

    @include media(max-width $mobile-size) {
      width: 210px;
      height: 144px;
      margin-top: 0px !important;
    }
  }

  &--center{
    margin: 0 auto;
  }

  &--margin-top {
    margin-top: -90px;
  }

  &--margin-bottom{
    margin-bottom: 30px;
  }
}
