.login-box{
  $width: 275px;

  width: $width;
  top: 100%;
  position: absolute;

  &:before,
  &:after{
    content: '';
    position: absolute;
  }

  &:before{
    @include transform(rotate(45deg));
    width: 20px;
    height: 20px;
    border-radius: 4px;
    background-color: $white;
    border: solid 1px $gray;
    top: -7px;
    right: calc(50% - 20px/2);
    z-index: 2;
  }

  &:after{
    height: 15px;
    background-color: $white;
    top: 1px;
    left: 10px;
    right: 10px;
    z-index: 3;
  }

  &__content{
    padding: 20px;
    background-color: $white;
    border-radius: 5px;
    border: solid 1px $gray;
    position: relative;

    @include media(max-width $mobile-size) {
      .text-field,
      .password-field,
      .submit-field{
        margin-bottom: 20px;
      }
    }
  }

  form{
    label{
      display: none;
    }

    .submit-field{
      @extend %clearfix;
      margin-bottom: 10px;

      button,
      .button{
        height: 30px !important;
        line-height: 30px !important;
        padding: 0 !important;
        margin: 0 !important;
        text-align: center !important;
        display: block !important;
      }

      button{
        width: 90px;
        float: left;
      }

      .button{
        font-size: rem(14);

        &--left{
          width: 62px;
          background: #39b44a;
          float: left;

          &:hover{
            background: darken(#39b44a, 5%);
          }
        }

        &--right{
          width: 160px;
          background: #45619d;
          float: right;

          &:hover{
            background: darken(#45619d, 5%);
          }
        }
      }
    }

    .other-links{
      @extend %clearfix;

      a{
        display: block;
        font-size: rem(14);

        &.sign_up{
          float: left;
        }

        &.forgot_password{
          float: right;
        }
      }
    }
  }

  &--left{
    right: 100%;
  }

  &--center{
    right: calc(50% - #{$width}/2);
  }

  &--right{
    right: 0;

    &:before{
      right: 16px;
    }
  }
}
