.map {
  width: 100%;
  height: 600px;

  @include media(max-width $mobile-size) {
    height: 430px;
  }
}

.leaflet-popup-content-wrapper{
  padding: 0;
  margin: 0;
  border-radius: 5px;
}

.leaflet-popup-content{
  width: 300px !important;
  margin: 0;
  padding: 0;

  .collective__header{
    height: auto;
    padding: 20px 20px 3px 20px;

    .intervention__title{
      &,
      & a{
        display: block;
        margin: 0;
        padding: 0;
        font-family: $fontPTSans;
        font-size: rem(20);
        font-weight: 100;
        color: $black;
      }
    }

    .list-info--small{
      margin-bottom: 15px;

      .list-info__item{
        margin-bottom: 7px;

        &:last-child{
          margin-bottom: 0px;
        }

        &,
        & a{
          line-height: 16px;
        }

        a{
          color: $blue;
        }
      }
    }

    .list-tags{
      margin-bottom: 15px;
    }
  }

  .intervention_popup__image{
    display: block;
  }

  .header-collective{
    @extend %clearfix;
    padding: 0 20px;
    margin-bottom: 20px;

    &__link,
    &__title,
    &__image{
      display: block;
    }

    &__link{
      @extend %clearfix;
    }

    &__image{
      width: 50px;
      height: 50px;
      margin-right: 10px;
      float: left;
      overflow: hidden;
      border-radius: 100%;
      position: relative;

      img{
        width: 100%;
        height: 100%;
      }
    }

    &__title{
      height: 50px;
      line-height: 50px;
      font-family: $fontPTSans;
      font-size: rem(16);
      font-weight: 100;
      color: $black;
      float: left;
    }
  }
}

.leaflet-popup-close-button{
  z-index: 9;
}
