$width_menu: 230px;

.menu-button-nav{
  @extend %hide-text;
  width: 40px;
  height: 40px;
  top: 15px;
  right: 15px;
  background: url(asset_path("icon-menu-black.png")) no-repeat center center;
  overflow: hidden;
  display: block;
  display: none;
  position: absolute;

  @include media(max-width $mobile-size) {
    display: block;
  }
}

.menu-navigation{
  @extend %clearfix;

  @include media(max-width $mobile-size) {
    width: $width_menu;
    height: 100%;
    background-color: darken($blue, 25%);
    padding-top: 70px;
    top: 0;
    right: -#{$width_menu};
    overflow: auto;
    position: fixed;

    .menu,
    .menu__list,
    .menu__item{
      width: 100%;
      padding: 0;
      margin: 0;
    }

    .menu--left,
    .menu--right{
      .menu__item{
        margin: 0;
        padding: 0;

        .menu__link{
          border-top: solid 1px rgba($gray, .2);
          padding-left: 20px;
          color: $white;
        }
      }
    }

    .menu--left{
    }

    .menu--right{
      .menu__link{
        margin-bottom: 0;
      }

      .login-box{
        width: 100%;
        margin-bottom: 20px;
        top: 0;
        right: 0;
        opacity: 1;
        visibility: visible;
        position: relative;

        &:before,
        &:after{
          display: none;
        }

        .button{
          font-size: rem(12);

          &--left{
            width: 45px;
          }

          &--right{
            width: 135px;
          }
        }

        .other-links{
          a{
            font-size: rem(12);
          }
        }

        &__content{
          border: none;
          border-radius: 0;
          background: none;
          padding-top: 0;
          padding-bottom: 0;
        }
      }

      .menu__link.menu-user{
        height: 60px;
        line-height: 40px;
        padding-top: 10px;
      }

      .menu-user{
        &:before,
        &:after{
          display: none;
        }

        &__image{
          width: 30px;
          height: 30px;
          float: left;
        }

        &__user{
          width: 160px;
          float: left;
          font-size: 16px;
          overflow: auto;
          padding-right: 0;
        }

        &__submenu{
          &__item{
          }

          &__link{
            color: $white;
          }
        }
      }
    }
  }
}

@include media(max-width $mobile-size) {
  body,
  .menu-navigation,
  .menu-button-nav{
    @include transition(0s);
  }

  body{
    right: 0;
    position: absolute;
  }

  .menu-open{
    body{
      width: 100%;
      right: $width_menu;
    }

    .menu-navigation{
      box-shadow: inset 8px 0 13px -5px rgba($black, .6);
      right: 0;
    }

    .menu-button-nav{
      background: url(asset_path("icon-menu-white.png")) no-repeat center center;
      right: 15px;
      position: fixed;
    }
  }
}

.menu{
  @extend %clearfix;
  padding: 10px 0;
  display: block;
  position: relative;

  &--left,
  &--right{
    @extend %clearfix;
  }

  &--left{
    float: left;

    .menu__item{
      margin-right: 30px;

      &:last-child{
        margin-right: 0px;
      }
    }
  }

  &--right{
    float: right;

    .menu__item{
      margin-left: 30px;

      &:first-child{
        margin-left: 0px;
      }
    }
  }

  &__list{
    @extend %clearfix;
  }

  &__item{
    float: left;
    position: relative;

    .login-box{
      @include transition(.1s);
      visibility: hidden;
      opacity: 0;
    }

    &:hover{
      .login-box{
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__link{
    height: $height-menu - 20px;
    line-height: $height-menu - 20px;
    display: block;
    padding:  0 5px;
    font-family: $fontNewCicleSemi;
    font-size: rem(16);
    font-weight: 400;
    color: $black;

    &--red{
      color: $red;
    }

    &:hover{
      color: $red;
    }
  }
}

.menu-user{
  position: relative;

  &__image,
  &__user{
    display: block;
    float: left;
  }

  &__image{
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 5px 0;
    margin-right: 12px;
    border-radius: 100%;
    overflow: hidden;
  }

  &__user{
    padding-right: 50px;
  }

  &:before,
  &:after{
    width: 4px;
    height: 12px;
    display: block;
    top: 20px;
    border-radius: 8px;
    background: $black;
    overflow: hidden;
    content: '';
    position: absolute;
  }

  &:before{
    right: 28px;
    @include transform(rotate(-45deg));
  }

  &:after{
    right: 22px;
    @include transform(rotate(45deg));
  }

  &__submenu{
    &__item{}

    &__link{
      display: block;
      font-family: $fontPTSans;
      font-size: rem(14);
      font-weight: 400;
      color: $black;

      &:hover{
        color: $red;
      }
    }
  }
}

.menu-user-action{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: solid 1px lighten($gray, 10%);
}
