.sidebar{
  $height: 220px;

  @include span-columns(3);
  min-height: $height;
  padding-top: 130px;
  position: relative;

  @include media(max-width $mobile-size) {
    @include span-columns(12);
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: solid 1px rgba($gray, .5);
  }

  &--padding-top-none{
    padding-top: 0;
  }

  &--float-right{
    float: right;
  }

  &__image{
    width: 200px;
    height: 200px;
    margin: 0;
    padding: 0;
    top: calc(-#{$height}/2 + 10px);
    left: 0;
    display: block;
    overflow: hidden;
    position: absolute;
    border-radius: 250px;
    z-index: 9;

    @include media(max-width $mobile-size) {
      left: calc(50% - 200px/2);
    }

    img{
      display: block;
    }
  }

  &__link{
    display: block;
    margin-bottom: 20px;

    img{
      display: block;
    }
  }
}
