.text{
  margin-bottom: 50px;
  line-height: 24px;
  font-family: $fontPTSans;
  font-size: rem(16);
  color: $black;

  p{
    margin-bottom: 20px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__title,
  &__subtitle{
    display: block;
    margin-bottom: 20px;
    font-family: $fontNewCicleSemi;
    font-weight: 100;
    color: $black;
  }

  &__title{
    font-size: rem(40);

    @include media(max-width $mobile-size) {
      font-size: rem(35);
    }

    &--padding-top{
      padding-top: 40px;
    }
  }

  &__subtitle{
    font-size: rem(30);
  }
}
