.intervention_popup{
  @include media(max-width $mobile-size) {
    > .wrapper{
      padding: 0 0;
    }
  }

  > .wrapper{
    height: 220px;
    min-height: 220px;
    max-height: 220px;
  }

  .intervention__title{
    font-size: 1.2em;
  }
}
