$white: #fff;
$black: #000;
$blue: #477DCA;
$yellow: #ffd817;
$gray: #ccc;
$red: darken(red, 15%);
$purple: #9c2ab7;
$dark-blue: #004169;
$dark-gray: #353535;
$medium-gray: #999;
$light-gray: #DDD;
$light-red: #FBE3E4;
$light-yellow: #FFF6BF;
$light-green: #E6EFC2;
