@import url("//fonts.googleapis.com/css?family=PT+Sans:400,700");

@include font-face("NewCicle-Fina", "NewCicle-Fina/NewCicle-Fina", lighter, $asset-pipeline: true, $file-formats: eot woff ttf svg);
@include font-face("NewCicle-FinaItalic", "NewCicle-FinaItalic/NewCicle-FinaItalic", lighter, italic, $asset-pipeline: true, $file-formats: eot woff ttf svg);
@include font-face("NewCicle-Gordita", "NewCicle-Gordita/NewCicle-Gordita", bold, $asset-pipeline: true, $file-formats: eot woff ttf svg);
@include font-face("NewCicle-Semi", "NewCicle-Semi/NewCicle-Semi", $asset-pipeline: true, $file-formats: eot woff ttf svg);
@include font-face("NewCicle-SemiItalic", "NewCicle-SemiItalic/NewCicle-SemiItalic", normal, italic, $asset-pipeline: true, $file-formats: eot woff ttf svg);
@include font-face("AgencyFB-Reg", "AgencyFB-Reg/AgencyFB-Reg", $asset-pipeline: true, $file-formats: eot woff ttf svg);

$fontPTSans: "PT Sans";
$fontNewCicleFina: "NewCicle-Fina";
$fontNewCicleGordita: "NewCicle-Gordita";
$fontNewCicleFinaItalic: "NewCicle-FinaItalic";
$fontNewCicleSemi: "NewCicle-Semi";
$fontNewCicleSemiItalic: "NewCicle-SemiItalic";
$fontAgencyFB: "AgencyFB-Reg"
