@import "neat-helpers";

// Neat config
$column: 65;
$gutter: 20px;
$grid-columns: 12;
$max-width: em(1000);

// Neat Overrides
$visual-grid: false;
$visual-grid-color: red;
$visual-grid-index: front;
$visual-grid-opacity: 0.5;

// Bourbon Neat Breakpoints
$mobile-size: em(490);
$tablet-size: em(830);
$desktop-size: em(940);

$mobile: new-breakpoint(max-width $mobile-size 5);
$tablet: new-breakpoint(max-width $tablet-size 8);
$desktop: new-breakpoint(max-width $desktop-size 12);
