<div class="form-default__row">
  <div class="form-default__column form-default__column--three-columns">
    <%= form.fields_for(:collective, @user.build_collective) do |c| %>
      <%= c.label "Nome da praça"  %>
      <%= c.text_field :name %>
    <% end %>
  </div>

  <div class="form-default__column form-default__column--three-columns">
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class="form-default__column form-default__column--three-columns">
    <%= form.label 'Senha' %>
    <%= form.password_field :password %>
  </div>
</div>
