<div id="clearance" class="sign-up form-default wrapper">
  <h2 class="form-default__title"><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <% if @user.errors.any? %>
      <% @user.errors.full_messages.each do |error| %>
        <div class="flash error">
          <ul>
            <% @user.errors.full_messages.each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    <% end %>

    <%= render partial: '/users/form', object: form %>

    <div class="form-default__row">
      <div class="form-default__column form-default__column--two-columns">
        <%= form.check_box :terms, checked: true %>
        <%= t('users.accepted_terms').html_safe %>
      </div>

      <div class="form-default__column form-default__column--two-columns submit-field form-default--text-right">
        <%= form.submit I18n.t("helpers.submit.user.create"), class: 'button user-new user-new--left button--left' %>
        <%= link_to 'Login com Facebook', '/auth/facebook', id: 'login_with_facebook', class: 'button user-new user-new--right button--right' %>
      </div>
    </div>
  <% end %>
</div>
