<footer class="footer">
  <div class="wrapper">
    <h6 class="logo logo--small"><%= link_to title, root_path %></h6>

    <div class="footer--left">
      <nav class="footer__menu">
        <%= link_to 'Sobre', sobre_path, class: 'footer__menu__link' %>
        <%= link_to 'Termos de serviço', termos_path, class: 'footer__menu__link' %>
      </nav>

      <div class="footer__facebook">
        <div class="fb-like" data-href="https://www.facebook.com/fis10inspira" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
      </div>
    </div>

    <div class="footer--right">
      <nav class="footer__menu">
        <%= link_to 'Open Source', 'https://github.com/tracersoft/inspirasp', class: 'footer__menu__link github', target: '_blank' %>

        <span class="footer__menu__span--margin">
          <span class="footer__menu__span">Made with</span>
          <span class="footer__menu__span icon-heart"></span>
          <span class="footer__menu__span">by</span>
        </span>

        <%= link_to 'tracersoft', 'http://tracersoft.com.br/', class: 'footer__menu__link tracer', target: '_blank' %>
      </nav>
    </div>
  </div>
</footer>
