<header class="header">
  <div class="wrapper">
    <h1 class="logo logo--header logo--normal"><%= link_to title, root_path %></h1>

    <nav class="menu-navigation">
      <div class="menu menu--left">
        <ul class="menu__list">
          <li class="menu__item">
            <%= link_to 'Sobre',
                sobre_path,
                class: 'menu__link' %>
          </li>

          <li class="menu__item">
            <%= link_to I18n.t("menu.explorer"),
                interventions_path,
                class: 'menu__link' %>
          </li>
        </ul>
      </div>

      <div class="menu menu--right">
        <% if signed_in? %>
          <ul class="menu__list">
            <li class="menu__item">
              <%= render partial: '/shared/user_menu' %>
            </li>
          </ul>
        <% else %>
          <ul class="menu__list">
            <li class="menu__item">
              <label class="menu__link" for="session_email">Entrar</label>

              <div class="login-box login-box--center">
                <%= render partial: '/sessions/form_header' %>
              </div>
            </li>

            <li class="menu__item">
              <%= link_to 'Cadastrar minha praça',
                          sign_up_path,
                          class: 'menu__link menu__link--red' %>
            </li>
          </ul>
        <% end %>
      </div>
    </nav>

    <a class="menu-button-nav" id="nav-close-btn" href="#" data-menu-mobile>Return to Content</a>
  </div>
</header>
