<%= link_to 'javascript:;', class: 'menu__link menu-user' do %>
  <figure class="menu-user__image"
    data-cover="<%= current_collective && attachment_url(current_collective, :avatar, :fill, 100, 100) %>">
  </figure>
  <div class="menu-user__user"><%= current_user.email %></div>
<% end -%>

<div class="menu-user__submenu login-box login-box--right">
  <ul class="login-box__content">
    <% if current_collective.try(:persisted?) %>
      <li class="menu-user__submenu__item">
        <%= link_to 'Adicionar evento',
          new_collective_intervention_path(collective_id: current_collective),
          class: 'menu-user__submenu__link' %>
      </li>

      <li class="menu-user__submenu__item">
        <%= link_to 'Ver praça',
          collective_path(current_collective),
          class: 'menu-user__submenu__link' %>
      </li>

      <li class="menu-user__submenu__item">
        <%= link_to 'Editar praça',
          edit_collective_path(current_collective),
          class: 'menu-user__submenu__link' %>
      </li>
    <% else %>
      <li class="menu-user__submenu__item">
        <%= link_to 'Criar praça',
          new_collective_path,
          class: 'menu-user__submenu__link' %>
      </li>
    <% end %>

    <li class="menu-user__submenu__item">
      <%= link_to I18n.t("layouts.application.sign_out"),
                  sign_out_path,
                  method: :delete,
                  class: 'menu-user__submenu__link' %>
    </li>
  </ul>
</div>
