<div class="collective-main__item">
  <div class="collective">
    <div class="wrapper">
      <header class="collective__header">
        <%= link_to collective_intervention_path(intervention.collective, intervention) do %>
          <h3 class="collective__title"><%= intervention.name %></h3>
        <% end %>
        <ul class="list-info--small">
          <%= content_tag :li,
            intervention.place,
            class: 'list-info__item list-info__item--icon-pin' if intervention.place %>

          <%= content_tag :li,
            intervention.schedule.to_s(:long),
            class: 'list-info__item list-info__item--icon-date' if intervention.schedule %>
        </ul>

        <ul class="list-tags list-tags--small">
          <% intervention.tags.each do |tag| %>
          <li class="list-tags__item list-tags--icon-<%= tag[:name].parameterize %>" data-tooltip="<%= tag[:name] %>">
            <a class="list-tags__link" href="javascript:;"><%= tag[:name] %></a>
          </li>
          <% end %>
        </ul>
      </header>

      <%= link_to collective_path(intervention.collective) do %>
        <div class="intervention-collective">
          <%= image_tag attachment_url(intervention.collective, :avatar, :fill, 128, 128), class: "intervention-collective__image" %>
          <div class="intervention-collective__name"><%= intervention.collective.name %></div>
        </div>
      <% end %>
    </div>

    <%= link_to collective_intervention_path(intervention.collective, intervention) do %>
      <figure class="collective__image"
        data-cover="<%= attachment_url(intervention, :cover, :fit, 400, 200) %>">
      </figure>
    <% end %>
  </div>
</div>
