<%= simple_form_for([@collective, @intervention]) do |f| %>
  <% if @intervention.errors.any? %>
    <div class="flash error">
      <ul>
      <% @intervention.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-default__row">
    <div class="form-default__column form-default__column--two-columns">
      <div class="form-default__row">
        <%= f.input :name, wrapper: false %>
      </div>

      <div class="form-default__row">
        <div class="form-default__column--two-columns">
          <%= f.input :place, wrapper: false %>
        </div>

        <div class="form-default__column--two-columns">
          <%= f.input :event_link, wrapper: false %>
        </div>
      </div>

      <div class="form-default__row form-default--margin-bottom-none">
        <%= f.input :schedule, wrapper: false %>
      </div>
    </div>

    <div class="form-default__column form-default__column--two-columns">
      <%= f.input :description, as: :text, wrapper: false, input_html: { class: 'textarea-about' } %>
    </div>
  </div>

  <div class="form-default__row">
    <div class="form-default__column--two-columns">
      <div class="form-default__column--two-columns">
        <%= f.label :avatar %> <%= f.attachment_field :avatar %>
        <% if @intervention.persisted? && @intervention.avatar %>
          <%= image_tag attachment_url(@intervention, :avatar, :fit, 200, 200) %>
        <% end %>
      </div>

      <div class="form-default__column--two-columns">
        <%= f.label :cover %> <%= f.attachment_field :cover %>
        <% if @intervention.persisted? && @intervention.cover %>
          <%= image_tag attachment_url(@intervention, :cover, :fit, 200, 200) %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-default__row">
    <h3 class="form-default--subtitle">Interesses</h3>

    <div class="form-list-tags">
      <%= f.collection_check_boxes :tag_ids, @tags, :id, :name, item_wrapper_class: 'form-list-tags__item' %>
    </div>
  </div>

  <div class="form-default__row form-default--text-right">
    <%= f.submit %>
  </div>
<% end %>
