<section class="cover-pages cover-pages--shadow cover-pages--shadow--up">
  <div class="wrapper">
    <h2 class="cover-pages__title-page"><%= @intervention.name %></h2>
  </div>

  <figure class="cover-pages__image"
    data-cover="<%= attachment_url(@intervention, :cover) %>">
  </figure>
</section>

<main class="main wrapper">
  <aside class="sidebar">
    <figure class="sidebar__image"
      data-cover="<%= attachment_url(@intervention, :avatar, :fill, 200, 200) %>">
    </figure>

    <% if policy(@intervention).edit? %>
      <nav class="menu-user-action">
        <%= link_to 'Editar', edit_collective_intervention_path(@intervention.collective, @intervention), class: "button button-half" %>
        <%= link_to 'Excluir', collective_intervention_path(@intervention.collective, @intervention), method: :delete, class: "button button-half" %>
      </nav>
    <% end %>

    <ul class="list-tags list-tags--large">
      <% @intervention.tags.each do |tag| %>
        <li class="list-tags__item list-tags--icon-<%= tag[:name].parameterize %>" data-tooltip="<%= tag[:name] %>">
          <a class="list-tags__link" href="javascript:;"><%= tag[:name] %></a>
        </li>
      <% end %>
    </ul>

    <ul class="list-info">
      <%= content_tag :li,
        @intervention.place,
        class: 'list-info__item list-info__item--icon-pin' if @intervention.place %>

      <%= content_tag :li,
        @intervention.schedule.to_s(:long),
        class: 'list-info__item list-info__item--icon-date' if @intervention.schedule %>

      <%= content_tag :li,
        link_to(@intervention.event_link, @intervention.event_link),
        class: 'list-info__item list-info__item--icon-notebook' if @intervention.event_link %>
    </ul>

    <div class="fb-like" data-width="230" data-href="<%= request.url %>" data-show-faces="true" data-share="true"></div>
  </aside>

  <div class="content">
    <article class="text">
      <%= simple_format(@intervention.description) %>
    </article>

    <div class="fb-comments" data-href="<%= request.url %>" data-width="100%" data-numposts="10"></div>
  </div>
</main>
