<section class="cover">
  <div class="wrapper">
    <div class="cover__main">
      <h2 class="logo logo--large logo--center logo--margin-bottom"><%= link_to title, root_path %></h2>

      <h3 class="cover__title">Queremos inSPirar uma nova atitude na cidade!</h3>
      <p class="cover__text">
        Fomos inspirados a ter uma nova atitude com a<br>
        cidade, agora queremos conectar esse movimento!
      </p>
      <%= link_to I18n.t("menu.explorer"), interventions_path, class: 'button cover__button' %>
    </div>
  </div>
</section>

<section class="home-testimony">
  <div class="wrapper">
    <div class="home-testimony--left">
      <article class="home-testimony__article">
        <div class="home-testimony__article__text">
          <%= @testimonial[:phrase] %>
        </div>

        <h4 class="home-testimony__article__name"><%= @testimonial[:author] %></h4>
      </article>
    </div>

    <div class="home-testimony--right">
      <figure class="home-testimony__image" data-cover="<%= image_path "#{@testimonial[:image]}/1.jpg" %>"></figure>
    </div>

    <%= link_to 'Open link', @testimonial[:url], class: 'home-testimony__link' %>
  </div>
</section>

<section class="home-collectives">
  <div class="wrapper">
    <h3 class="home-collectives__title">Vamos engajar mais pessoas nesse movimento</h3>
    <h4 class="home-collectives__sub-title">
      Divulgue as ações que você e sua praça estão<br>
      realizando em São Paulo
    </h4>

    <% if signed_in? %>
    <div class="home-collectives__full">
    <% else %>
    <div class="home-collectives__large">
    <% end -%>
      <% @collectives.each do |collective| %>
        <div class="home-collectives__column">
          <%= render 'collectives/preview', collective: collective %>
        </div>
      <% end %>
    </div>

    <% unless signed_in? %>
      <div class="home-collectives__small">
        <h3 class="sub-title sub-title--center sub-title--margin-bottom">Adicione sua<br>praça</h3>

        <%= form_for @user, html: { class: 'form-register-collectives' } do |form| %>
          <div class="text-field">
            <%= form.fields_for(:collective, @user.build_collective) do |c| %>
              <%= c.label :collective_name %>
              <%= c.text_field :name, placeholder: "Nome da praça" %>
            <% end %>
          </div>

          <div class="text-field">
            <%= form.label :email %>
            <%= form.text_field :email, type: 'email', placeholder: :email %>
          </div>

          <div class="password-field">
            <%= form.label :password %>
            <%= form.password_field :password, placeholder: :password %>
          </div>

          <!--
          <div class="terms-field">
            <%= form.check_box :terms, checked: true %>
            <%= t('users.accepted_terms').html_safe %>
          </div>
          -->

          <div class="submit-field">
            <%= button_tag 'Enviar', class: 'button button--left' %>
            <%= link_to 'Login com Facebook', '/auth/facebook', id: 'login_with_facebook', class: 'button button--right' %>
          </div>

          <!--
          <div class="other-links">
            <%= link_to t(".sign_in"), sign_in_path %>
          </div>
          -->
        <% end %>
      </div>
    </div>
  <% end %>
</section>
