.home-testimony{
  width: 100%;
  padding: 50px 0;
  background-color: $yellow;
  position: relative;

  @include media(max-width $mobile-size) {
    padding: 200px 0 30px 0;
  }

  .wrapper{
    @extend %clearfix;
  }

  &--left,
  &--right{
    @extend %clearfix;
  }

  &--left{
    @include span-columns(7);
    height: 300px;

    @include media(max-width $mobile-size) {
      @include span-columns(12);
      @include omega();
      height: auto;
    }
  }

  &--right{
    @include span-columns(4);
    @include omega();
    float: right;

    @include media(max-width $mobile-size) {
      width: 150px;
      height: 150px;
      top: -170px;
      left: calc(50% - 150px/2);
      position: absolute;
    }
  }

  &__article{
    @include transform(translateY(-50%));
    top: 50%;
    margin: 0;
    padding: 0;
    font-family: $fontNewCicleSemiItalic;
    font-weight: 400;
    position: relative;

    @include media(max-width $mobile-size) {
      top: 0;
      @include transform(inherit);
    }

    &__text{
      font-size: rem(36);
      display: block;
      margin-bottom: 20px;
      font-style: italic;
      line-height: rem(45);

      @include media(max-width $mobile-size) {
        margin-bottom: 10px;
        text-align: center;
        font-size: rem(18);
        line-height: rem(26);
      }
    }

    &__name{
      font-size: rem(25);
      font-weight: 400;
      display: block;
      text-align: right;

      @include media(max-width $mobile-size) {
        text-align: center;
        font-size: rem(13);
      }
    }
  }

  &__image{
    width: 300px;
    height: 300px;
    float: right;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    position: relative;

    @include media(max-width $mobile-size) {
      width: 150px;
      height: 150px;
    }
  }

  &__link{
    @extend %hide-text;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-indent: -300000px;
    position: absolute;
    z-index: 2;
  }
}

.home-collectives{
  padding: 80px 0;
  background-color: #319ec4;
  color: $white;

  @include media(max-width $mobile-size) {
    padding: 30px 0;
  }

  .collective {
    box-shadow: none;
  }

  .wrapper{
    // background-color: red;
  }

  &__title,
  &__sub-title{
    width: 100%;
    text-align: center;
    display: block;
    font-family: $fontNewCicleSemi;
    font-weight: 400;
  }

  &__title{
    margin-bottom: 20px;
    font-size: rem(50);

    @include media(max-width $mobile-size) {
      font-size: rem(28);
    }
  }

  &__sub-title{
    margin-bottom: 60px;
    line-height: rem(30);
    font-size: rem(26);

    @include media(max-width $mobile-size) {
      margin-bottom: 20px;
      font-size: rem(15);
    }
  }

  &__large,
  &__small{
    height: 100%;
    display: block;
    position: relative;
  }

  &__large{
    @include span-columns(8);
    height: 100%;
    padding: 0 20px;

    @include media(max-width $mobile-size) {
      @include span-columns(12);
      padding: 0 0px;
      margin-bottom: 40px;
    }

    .collective__title--image a{
      width: 218px;
      overflow: auto;
      white-space: nowrap;

      @include media(max-width $mobile-size) {
        width: 220px;
      }
    }

    .home-collectives__column{
      @include span-columns(4 of 8);

      @include media(max-width $mobile-size) {
        @include span-columns(12);
        @include omega();
        margin-bottom: 20px;
      }
    }
  }

  &__full{
    @include span-columns(12);
    height: 100%;

    .home-collectives__column{
      @include span-columns(4 of 12);

      @include media(max-width $mobile-size) {
        @include span-columns(12);
        padding: 0 0px;
        margin-bottom: 20px;
      }
    }
  }

  &__small{
    @include span-columns(4);

    @include media(max-width $mobile-size) {
      @include span-columns(12);
      padding: 0 0px;
    }
  }
}

.home {
  .header {
    border: none;
  }
}
