.form-search{
  @extend %clearfix;
  padding-top: 70px;

  label{
    display: none;
  }

  &__column{
    float: left;
    position: relative;

    input,
    .input,
    select,
    .select,
    button,
    .button{
      width: 100%;
      height: 55px;
      padding: 0;
      margin: 0;
      border: none;
      border-radius: 5px;
      font-family: $fontPTSans;
      font-size: rem(20);
      font-weight: 400;
    }

    .input,
    input{
      line-height: 55px;
      padding: 0 20px;
      color: darken($gray, 20%);
    }

    .select,
    select{
      color: darken($gray, 20%);
      cursor: pointer;

      &,
      & option{

      }
    }

    .button,
    button{
      line-height: 55px;
      padding: 0 20px;
      background-color: $purple !important;
      color: $white !important;
    }

    &--small{
      @include span-columns(2);
    }

    &--medium{
      @include span-columns(3);
    }

    &--large{
      @include span-columns(7);
    }

    &--small,
    &--medium,
    &--large{
      @include media(max-width $mobile-size) {
        @include span-columns(12);
        margin-bottom: 20px;
      }
    }
  }
}

.collective-main{
  @extend %clearfix;
  background-color: #f1f1f1;
  padding: 50px 0;

  &__list{
    @extend %clearfix;
    margin-bottom: 40px;

    &--margin-bottom{
      margin-bottom: 0;
    }
  }

  &__item{
    @include span-columns(4);
    min-height: 200px;
    margin-top: 20px;

    @include media(max-width $mobile-size) {
      @include span-columns(12);
      @include omega();
      margin-top: 0;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }

    &:nth-child(-n+3){
      margin-top: 0;
    }

    &:nth-child(3n+3){
      @include omega();
    }
  }

  &__pagination{
    text-align: center;
  }
}

.navigation-collectives{
  height: 50px;
  background-color: $white;

  &__left,
  &__right{
    @include span-columns(6);
  }

  &__left{
    .navigation-collectives__link{
      float: left;
      font-size: rem(14);
      margin-right: 30px;

      @include media(max-width $mobile-size) {
        margin-right: 12px;
      }

      &:last-child{
        margin-right: 0;
      }
    }
  }

  &__right{
    text-align: right;

    .navigation-collectives__link{
      @extend %hide-text;
      width: 40px;
      height: 40px;
      display: block;
      margin-top: 5px;
      background-color: darken($gray, 20%);
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 30px;
      float: right;

      &--list{
        -webkit-mask-image: url(asset_path("icons/list.svg"));
        -moz-mask-image: url(asset_path("icons/list.svg"));
        mask-image: url(asset_path("icons/list.svg"));
      }

      &--map{
        -webkit-mask-image: url(asset_path("icons/map.svg"));
        -moz-mask-image: url(asset_path("icons/map.svg"));
        mask-image: url(asset_path("icons/map.svg"));
      }

      &--current{
        background-color: $purple;
      }

      &:last-child{
        margin-left: 0;
      }

      &:hover{
        background-color: $purple;
      }
    }
  }

  &__link{
    height: 50px;
    line-height: 50px;
    display: block;
    font-family: $fontPTSans;
    font-size: rem(20);
    font-weight: 400;
    color: #aaa;

    &--current,
    &:hover{
      color: $purple;
    }
  }
}

.about{
  &__link-show{
    padding: 5px;
    margin: 20px 0;
    text-align: center;
    display: block;
    font-family: $fontPTSans;
    font-size: rem(20);
    font-weight: 400;
    color: #aaa;
  }

  &__all-images{
    display: none;
  }
}
