<section class="cover-pages">
  <figure class="cover-pages__image"
    data-cover="<%= image_url('covers/cover-home-partial.svg') %>">
  </figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div class="content content--float-left content--padding-top-none">
    <article class="text">
      <h2 class="text__title">
        Queremos estimular a revitalização e gestão participativa
        das praças da cidade de São Paulo
      </h2>

      <p>O projeto Qual é a sua Praça? tem como ponto de partida a Lei sobre a
        gestão participativa das praças da cidade de São Paulo, aprovada em junho
        de 2015. Essa lei prevê uma série de instrumentos para que seus moradores
        colaborem junto ao poder público, no cuidado e na gestão das praças paulistanas,
        com destaque para a formação de comitês de usuários, o cadastro e georreferenciamento
        das 5.023 praças da cidade.</p>

      <p>O Qual é a sua Praça? deseja apoiar o processo de implantação da Lei em três frentes:</p>

      <ul style="list-style-type: initial; margin-left: 20px;">
        <li>Estimular a criação e organização dos comitês de usuários, capcitando
          seus integrantes em metodologias de revitalização e gestão de praças;</li>
        <li>Apoiar o poder público na interação com os comitês e capacitar seus
          agentes no entendimento dos processos previstos na Lei e no diálogo
          transparente com os comitês;</li>
        <li>Disponibilizar um mapa interativo onde os usuários poderão georreferenciar
          e cadastrar informações sobre as praças da cidade. Para isso,
          <%= link_to 'clique aqui!', sign_up_path %>.</li>
      </ul>

      <h3 class="text__title text__title--padding-top">Quem somos</h3>
      <p>O Centro de Estudos em Sustentabilidade da Fundação Getulio Vargas
        (GVces/FGV-EAESP), em parceria com o Movimento Boa Praça e a Ecostage,
        promovem a ideia de que São Paulo tem vocação para ser uma cidade mais
        humana, com espaços públicos voltados ao convívio e lazer de seus moradores.
        Acreditamos que uma plataforma online pode fortalecer a gestão participativa
        das praças da cidade, por meio da articulação de diversos atores da sociedade
        civil e do poder público.</p>

      <h3 class="text__title text__title--padding-top">Fale conosco</h3>
      <p>Convidamos para o diálogo empresas, poder público e sociedade civil!
        Mande seu e-mail ou ligue para:</p>

        <p>(?) Flora Rebello<br>
        Tel.: (11) 3284-0754<br>
        E-mail: <%= link_to 'Flora.rebello@fgv.br', 'mailto:Flora.rebello@fgv.br' %></p>
    </article>
  </div>

</main>
