<section class="cover-pages">
  <figure class="cover-pages__image"
    data-cover="<%= image_url('covers/cover-home-partial.svg') %>">
  </figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div class="content content--float-left content--padding-top-none">
    <article class="text">
      <h2 class="text__title">Baixo centro</h2>

      <p><em>“As ruas são para dançar”</em></p>

      <p>Este é o lema do movimento Baixo Centro, que pretende fissurar, hackear e
      disputar as ruas. A ideia é estimular a apropriação do espaço público, a quem este
      realmente pertence, motivando, assim, a interação das pessoas com seus locais
      cotidianos de passagem, trabalho ou moradia.</p>

      <p>A partir desse protagonismo foram realizadas duas edições do festival, uma
      em 2012 e outra em 2013. Na primeira edição mais de cem atividades artísticas
      ocorrendo durante 10 dias, e a segunda foi maior ainda, com mais de 500
      atrações, incluindo shows, karaôke, orquestra na rua, danças, entre outras que
      contemplam a livre manifestação da cultura.</p>

      <p>Todos os passos da produção são feitos de forma horizontal, associativa,
      aberta e livre. Não há nenhuma instituição por trás: empresas, ONGs ou governos.
      O financiamento também é coletiavo e asociativo, via crowdfunding e outras formas
      independentes de arrecadação (como leilão, rifa e doações).</p>

      <p>“Uma utopia possível, feita por pessoas e para pessoas. Nada de
      instituições ou relações duras e tradicionais por trás. Aqui, tudo é feito por outras
      vias de produção, outros modelos, outras crenças. Tudo colaborativo. Não há gana
      por lucro. Há gana pela mudança.” – Movimento Baixo Centro</p>
    </article>
  </div>
  <aside class="sidebar sidebar--float-right sidebar--padding-top-none">
    <% (1..2).each do |image| %>
      <%= image_tag("baixo-centro/#{image}.jpg") %>
    <% end -%>
  </aside>
</main>
