<section class="cover-pages">
  <figure class="cover-pages__image"
    data-cover="<%= image_url('covers/cover-home-partial.svg') %>">
  </figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div class="content content--float-left content--padding-top-none">
    <article class="text">
      <h2 class="text__title">A Batata Precisa de Você</h2>
      <p>
<em>Receita para transformar o Deserto em um Oásis cultural</em>
      </p>
<p>A praça A Batata Precisa de Você ocupou o chamado ‘deserto’ do Largo
da Batata na região de Pinheiros, para a transformação de um não lugar em lugar.
Com a Operação Faria Lima, a região que antes era residencial ganhou um grande
pátio de concreto, se tornando apenas uma área de passagem para pedestres. O
Largo perdeu casas, arvores e moradores que foram despejados por um projeto
urbanístico desastroso e pela especulação imobiliária. O Largo, sem vida, se
tornou árido e precisava de alguém.</p>

<p>Foi então, que uma moradora da região – a arquiteta Laura Sobral – iniciou
um pequeno movimento com familiares e amigos de ocupação da praça. O
‘leituraço’, que começou com poucos participantes, chamava as pessoas para
sentarem na praça e organizarem leituras. Com a força das redes sociais, o
movimento ganhou corpo em apenas quatro meses passou a reunir milhares de
pessoas.</p>

<p>Além disso, diversas outras iniciativas aconteceram, curadoria livre e
democracia total para se apropriar do espaço – feira orgânica, uma grande festa
junina, feira de livros e até casamento – Laura se casou em pleno Largo da Batata!
Vizinhos começaram a se conhecer e as pessoas se sentiram a vontade para
interagir com o Largo – o espaço ‘publico’ ganhou vida.</p>

<p>Iniciativas de melhoria da infraestrutura da praça com implementação de
bancos, canteiros e até plantação de batata também surgiram. Todos esses
projetos precisam de muito envolvimento e participação da comunidade na
construção de um Largo para todos. Logo, a Batata precisa de você!</p>
    </article>
  </div>
  <aside class="sidebar sidebar--float-right sidebar--padding-top-none">
    <% (1..2).each do |image| %>
      <%= image_tag("batata-precisa-de-voce/#{image}.jpg") %>
    <% end -%>
  </aside>
</main>
