<section class="cover-pages">
  <figure class="cover-pages__image"
    data-cover="<%= image_url('covers/cover-home-partial.svg') %>">
  </figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div class="content content--float-left content--padding-top-none">
    <article class="text">
      <h2 class="text__title">Movimento Boa praça</h2>
      <p>
<em>O que você acha de comemorar o seu próximo aniversário na pracinha do lado da sua casa?</em>
      </p>
<p>A Alice, uma menina de 4 anos, teve essa simples e brilhante ideia! Para
realizar o desejo de sua filha, Cecília teve que iniciar um movimento para reformar
a praça do seu bairro que estava abandona. O combinado foi que Alice abriria mão
dos seus presentes de aniversário para ganhar um parquinho novo. Assim, Cecilia
foi atras de amigos, vizinhos, da sub prefeitura e de empresas da região a fim de
conseguir colaborações para a reforma da praça.</p>

<p>Com algumas arrecadações o parquinho foi revitalizado, e além de uma
nova praça, a comunidade ganhou também um novo significado: a possibilidade de
realizar em conjunto coisas grandes. Os vizinhos, conscientes de que somente
com a ocupação da praça ela continuaria viva, resolveram promover todo último
domingo do mês, um piquenique comunitário.</p>

<p>Foi durante a realização do primeiro piquenique que uma moradora da
região, Carolina, mãe de Ana, também de 4 anos, conheceu a história. Assim,
juntaram forças e criaram o Movimento Boa Praça. Realizando diversas atividades
e projetos, como piqueniques, cursos, instalação de mobiliário urbano e ações
educativas. A intenção do movimento é de sensibilizar pessoas, instituições,
empresas e governo para ocupar e revitalizar as praças da cidade, tornando-as
locais de convívio, lazer, debate e inclusão.</p>
    </article>
  </div>
  <aside class="sidebar sidebar--float-right sidebar--padding-top-none">
    <% (1..3).each do |image| %>
      <%= image_tag("boa-praca/#{image}.jpg") %>
    <% end -%>
  </aside>
</main>

