<section class="cover-pages">
  <figure class="cover-pages__image"
    data-cover="<%= image_url('covers/cover-home-partial.svg') %>">
  </figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div class="content content--float-left content--padding-top-none">
    <article class="text">
      <h2 class="text__title">Termos de uso</h2>

      <h3 class="text__subtitle">TERMOS E CONDIÇÕES GERAIS</h3>

      <p>Última atualização: junho de 2015</p>

      <p>Estes Termos e Condições Gerais aplicam-se ao uso dos serviços oferecidos pela plataforma online (“InSPira”), incluindo a conexão de coletivos urbanos organizados (coletivamente, “Coletivos”) com pessoas físicas que utilizem a rede InSPira ("Usuário").</p>

      <p>InSPira fornece uma plataforma online que conecta Usuários interessados em articipar de ações de integração no espaço público na cidade de São Paulo e Coletivos que estão envolvidos em ações dessa natureza (coletivamente, “Serviços”). Ao usar a plataforma InSPira, você concorda em cumprir com e estar legalmente sujeito aos termos e condições destes Termos de Serviço (“Termos”), ainda que você não se torne um usuário registrado dos Serviços.</p>

      <p>O InSPira prove uma plataforma para os usuários se engajarem em ações de integração e valorização do espaço público. O InSPira apenas facilita a conexão entre usuários e não tem nenhuma responsabilidade com relação aos itens envolvidos na transação entre eles, ou qualquer outro acontecimento que se dê em contatos e relações, online e offline, entre usuários que tenham se conectado através do site.</p>

      <p>Qualquer usuário, para que possa utilizar os serviços do InSPira deverá aceitar integralmente os Termos e Condições Gerais e Política de Privacidade.</p>

      <h3 class="text__title text__title--padding-top">1. Objeto</h3>

      <p>O serviço objeto deste Termos e Condições Gerais consiste em prover aos usuários uma plataforma que possibilite e facilite aos Usuários se conectarem com os Coletivos.</p>

      <h3 class="text__title text__title--padding-top">2. Cadastro e utilização do InSPira</h3>
      <h4 class="text__subtitle">2.1. Usuário</h4>

      <p>O cadastro e utilização do InSPira são GRATUITOS para os Usuários. Os serviços do InSPira estão disponíveis apenas para as pessoas físicas que tenham capacidade legal para contratá-los. Não podem utilizá-los, assim, pessoas que não gozem dessa capacidade, inclusive menores de idade, ou pessoas que tenham sido inabilitadas do sistema do InSPira, temporária ou definitivamente.</p>

      <p>Também não é permitido que uma mesma pessoa tenha mais de um cadastro. Se o InSPira detectar, através do sistema de verificação de dados, cadastros duplicados e/ou falsos (fakes), irá inabilitar definitivamente todos os cadastros daqueles usuários. Não serão admitidas, na qualidade de usuários, pessoas jurídicas. A eventual participação a outro título será oportunamente a avaliada e regulamentada pelo InSPira. O preenchimento de todos os campos obrigatórios do cadastro é condição indispensável para a fruição dos serviços do InSPira.O futuro Usuário deverá completá-lo com informações exatas, precisas e verdadeiras, e assume o compromisso de atualizar os Dados Pessoais sempre que neles ocorrer alguma alteração. O InSPira se reserva o direito de utilizar todos os meios válidos e possíveis para identificar seus usuários.</p>

      <p>O InSPira não se responsabiliza pela correção dos Dados Pessoais inseridos por seus usuários. Os usuários garantem e respondem, em qualquer caso, pela veracidade, exatidão e autenticidade dos dados pessoais cadastrados. O InSPira se reserva o direito de solicitar dados adicionais e documentos que estime serem idôneos a conferir os dados pessoais informados, assim como de inabilitar, temporária ou definitivamente, o Usuário que apresentar qualquer informação inverídica ou quem o InSPira não conseguir contatar para a verificação dos dados.</p>

      <p>Ao cancelar o cadastro do usuário, automaticamente serão cancelados as opções de buscas por ele veiculados ou respostas por ele oferecidos à outros usuários, não assistindo ao usuário, por essa razão, qualquer sorte de indenização ou ressarcimento.</p>

      <p>O Usuário acessará sua conta através de um nome de usuário (login) e senha e ompromete-se a não informar a terceiros esses dados, responsabilizando-se ntegralmente pelo uso que deles seja feito. O Usuário compromete-se a notificar o InSPira imediatamente, através de meio seguro, a respeito de qualquer uso ou acesso não-autorizado de sua conta, por terceiros. O usuário será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso a ela só será possível mediante a aposição da senha, cuja responsabilidade é exclusiva do usuário. Em nenhuma hipótese será permitida a cessão, venda, aluguel ou outra forma de transferência da conta (incluindo-se qualificações e reputação).</p>

      <p>O nome de usuário (login) utilizado no InSPira não poderá guardar semelhança com o nome InSPira. Também serão eliminados nomes considerados ofensivos, bem como os que contenham dados pessoais do usuário ou alguma URL ou endereço eletrônico. O InSPira se reserva o direito de recusar qualquer solicitação de cadastro e de cancelar um cadastro previamente aceito, a seu exclusivo critério.</p>

      <h4 class="text__subtitle text__title--padding-top">2.2. Interação offline</h4>
      <p>As interações realizadas offline pelos usuários são de exclusiva responsabilidade deles. O InSPira não é responsável por nenhum fato, ocorrência, acontecimento proveniente do encontro, relação ou interação de usuários.</p>

      <h4 class="text__subtitle text__title--padding-top">2.3. ONGS</h5>
      <p>Poderão ser cadastradas no sistema InSPira organizações não-governamentais, mediante convite da administração do InSPira, segundo seu exclusivo critério, nas condições estabelecidas em contrato próprio.</p>

      <h3 class="text__title text__title--padding-top">3. Modificações dos Termos e Condições Gerais</h3>
      <p>O InSPira poderá alterar, a qualquer tempo, estes Termos e Condições Gerais, visando seu aprimoramento e melhoria dos serviços prestados. Os novos Termos e Condições entrarão em vigor imediatamente após publicados no site. No prazo de 05 (cinco) dias contados a partir da publicação das modificações, o usuário deverá comunicar-se com o InSPira pelas vias disponíveis caso não concorde com as alterações. Neste caso, o vínculo contratual deixará de existir, ficando cancelado o cadastro do usuário. Não havendo manifestação no prazo estipulado, entender-se-á que o usuário aceitou os novos Termos e Condições e o contrato continuará vinculando as partes.</p>

      <h3 class="text__title text__title--padding-top">4. Funcionamento do Sistema InSPira</h3>
      <h4 class="text__subtitle">4.1. Anúncio/Busca</h4>

      <p>O usuário poderá buscar ações de integração no espaço público no campo de busca do InSPira e o sistema perguntará aos seus usuários, delimitados em um raio de distância, e apontará os Coletivos que estejam atuando naquela região.</p>

      <h3 class="text__title text__title--padding-top">5. Privacidade da Informação</h3>
      <p>Toda informação ou dado pessoal prestado pelo usuário do InSPira é armazenada em servidores de alta segurança. O InSPira tomará todas as medidas possíveis para manter a confidencialidade e a segurança descritas nesta cláusula, porém não responderá por prejuízo que possa ser derivado da violação dessas medidas por parte de terceiros que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações de usuários.</p>

      <h3 class="text__title text__title--padding-top">6. Obrigações dos Usuários</h3>
      <h4 class="text__subtitle">6.1. Os usuários comprometem-se a prestar uns aos outros apenas informações verdadeiras.</h4>
      <h4 class="text__subtitle">6.2. O usuário deverá ter capacidade legal.</h4>

      <p>Em virtude de o InSPira possibilitar o encontro entre os usuários, e por não participar dos encontros que se realizam entre eles, a responsabilidade por todas as obrigações, sejam elas fiscais, jurídicas, trabalhistas, consumeristas ou de qualquer outra natureza, decorrentes das transações originadas no espaço virtual do site serão exclusivamente dos usuários. Em caso de interpelação judicial que tenha como Réu o InSPira, cujos fatos fundem-se em ações do usuário, este será chamado ao processo devendo arcar com todos os ônus que daí decorram, nos termos do artigo 70, III do Código de Processo Civil.</p>

      <p>Em virtude desta característica do site, também não pode obrigar o usuário a honrar sua obrigação ou comparecer a eventos ou atividades, entre outros.</p>

      <p>Tributos: o InSPira não se responsabiliza pelas obrigações de natureza tributária que incidam sobre os negócios realizados entre usuários. Assim, o Usuário que atue como comerciante, nos termos da lei em vigor, responsabilizar-se-á pela integralidade das obrigações oriundas de suas atividades, notadamente pelos tributos envolvidos.</p>

      <h3 class="text__title text__title--padding-top">7. Práticas Vedadas</h3>

      <p>Os usuários não poderão:</p>
      <ul>
        <li>a) manipular suas intenções ou ações prestadas ou desenvolvidas;</li>
        <li>b) interferir nas ações ou atividades de os usuários;</li>
        <li>c) prestar informações falsas;</li>
        <li>d) anunciar atividades proibidas pelas políticas do InSPira e/ou pela lei;</li>
        <li>e) agredir, caluniar, injuriar ou difamar outros usuários. Este tipo de comportamento poderá ser sancionado com a suspensão ou cancelamento da oferta, ou com a suspensão ou cancelamento do seu cadastro como usuário do InSPira, sem prejuízo das ações legais que possam ocorrer pela configuração de delitos ou contravenções ou os prejuízos civis que possam causar aos demais</li>
      </ul>

      <h3 class="text__title text__title--padding-top">8. Violação do Sistema ou da Base de Dados</h3>

      <p>Não é permitida a utilização de nenhum dispositivo, software, ou outro recurso que venha a interferir nas atividades e operações do InSPira, bem como nos anúncios, descrições, contas ou seus bancos de dados. Qualquer intromissão, ou tentativa, ou atividade que viole ou contrarie as leis de direito de propriedade intelectual e/ou as proibições estipuladas nestes Termos e Condições Gerais, tornarão o responsável passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.</p>

      <p>Sem prejuízo de outras medidas, o InSPira poderá advertir, suspender ou cancelar, temporária ou definitivamente, a conta de um usuário a qualquer tempo, e iniciar as ações legais cabíveis se:</p>

      <ul>
        <li>a) o usuário não cumprir qualquer dispositivo destes Termos e Condições Gerais e demais políticas do InSPira;</li>
        <li>b) se descumprir com seus deveres de usuário;</li>
        <li>c) se praticar atos fraudulentos ou dolosos;</li>
        <li>d) se não puder ser verificada a identidade do usuário ou qualquer informação fornecida por ele esteja incorreta;</li>
        <li>e) caso se verifique duplicidade ou falsidade do cadastro;</li>
        <li>f) se o InSPira entender que os anúncios ou qualquer atitude do usuário hajam causado algum dano a terceiros ou ao próprio InSPira ou tenha a potencialidade de assim o fazer. Nos casos de inabilitação do cadastro do usuário, todas as opções de buscas serão automaticamente cancelados.</li>
      </ul>

      <h3 class="text__title text__title--padding-top">9. Responsabilidades</h3>

      <p>O InSPira não interfere de nenhuma forma na negociação ou na realização dos empréstimos ou doações entre os usuários, que se iniciam no site, somente disponibilizando A TÍTULO GRATUITO a plataforma online para facilitá-las. Assim sendo, o InSPira não se responsabiliza pela capacidade para contratar dos usuários ou pela veracidade das informações por eles prestadas.</p>

      <p>O InSPira não outorga garantia por vícios ocultos ou aparentes nas possíveis negociações entre os usuários. Cada usuário conhece e aceita ser o único responsável pelas atividades que anuncia ou busca ou realiza. O InSPira não será responsável pelo efetivo cumprimento das possíveis obrigações assumidas pelos Usuários. O usuário reconhece e aceita que ao realizar negociações com outros usuários ou terceiros faz por sua conta e risco.</p>

      <p>Em nenhum caso o InSPira será responsável pelo lucro cessante ou por qualquer outro dano e/ou prejuízo que o usuário possa sofrer devido às possíveis negociações ou transações realizadas ou não realizadas através do InSPira. O InSPira não é intermediário das transações e recomenda que toda transação seja realizada com cautela e bom senso.</p>

      <p>O InSPira não será responsável pelas transações entre os usuários, mesmo as firmadas com base na confiança depositada no sistema ou nos serviços prestados pelo InSPira. Nos casos em que um ou mais Usuários ou algum terceiro inicie qualquer tipo de reclamação ou ação legal contra outro ou outros Usuários, todos e cada um dos usuários envolvidos nas reclamações ou ações eximem de toda responsabilidade o InSPira e a seus diretores, gerentes, empregados, agentes, representantes, tercerizados e procuradores.</p>

      <p>O InSPira resguarda-se de toda e qualquer responsabilidade por fatos resultantes da interação entre os usuários, dentro ou fora do mundo virtual, devendo cada usuário zelar e responsabilizar-se por sua segurança e pela das pessoas que com ele interagem.</p>

      <h3 class="text__title text__title--padding-top">10. Alcance dos Serviços</h3>

      <p>Estes Termos e Condições Gerais não geram nenhum contrato de sociedade, de mandato, franquia ou relação de trabalho entre o InSPira e o Usuário ou Coletivos. O usuário manifesta ciência de que o InSPira não é parte de nenhuma transação, nem possui controle algum sobre a qualidade, segurança ou legalidade dos anúncios, sobre a sua veracidade ou exatidão, e sobre a capacidade dos usuários para negociar.</p>

      <p>O InSPira não pode assegurar o êxito de qualquer transação, tampouco verificar a identidade ou os dados pessoais dos usuários. O InSPira não garante a veracidade da publicação de terceiros que apareça em seu site e não será responsável pela correspondência ou contratos que o usuário realize com terceiros.</p>

      <h3 class="text__title text__title--padding-top">11. Do Encerramento das Operações do InSPira</h3>

      <p>O encerramento, definitivo e/ou temporário, das atividades do InSPira não resultará em qualquer obrigação, seja de que natureza for, do InSPira para com o usuário, inclusive no que diz respeito a comunicação prévia de tal fato, compensação, pagamento e/ou indenização, a qualquer tempo e título.</p>

      <h3 class="text__title text__title--padding-top">12. Falhas no Sistema</h3>

      <p>O InSPira não se responsabiliza por qualquer dano, prejuízo ou perda no equipamento do usuário causada por falhas no sistema, no servidor ou na internet. O InSPira também não será responsável por qualquer vírus que possa atacar o equipamento do usuário em decorrência do acesso, utilização ou navegação no site na internet ou como consequência da transferência de dados, arquivos, imagens, textos ou áudio contidos no mesmo.</p>

      <p>Os usuários não poderão atribuir ao InSPira nenhuma responsabilidade nem exigir o pagamento por lucro cessante em virtude de prejuízos resultantes de dificuldades técnicas ou falhas nos sistemas ou na internet. O InSPira não garante o acesso e uso contínuo ou sem interrupções de seu site. Eventualmente, o sistema poderá não estar disponível por motivos técnicos ou falhas da internet, ou por qualquer outra circunstância alheia ao InSPira.</p>

      <h3 class="text__title text__title--padding-top">13. Tarifas e Faturamento</h3>

      <p>O Cadastro do usuário e a utilização do InSPira são GRATUITOS. Ao utilizar a plataforma do InSPira o usuário não arca com nenhuma taxa cobrada pelo InSPira.</p>

      <h3 class="text__title text__title--padding-top">14. Propriedade Intelectual e links</h3>

      <p>Os conteúdos das telas relativas aos serviços do InSPira, assim como os programas, bancos de dados, redes, arquivos que permitem que o usuário acesse e use sua conta são propriedade do InSPira e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais.</p>

      <p>O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo autorização expressa do InSPira. O site pode apresentar conexão (links) com outros sites da rede, o que não significa que esses sites sejam de propriedade ou operados pelo InSPira. Não possuindo controle sobre esses sites, o InSPira NÃO será responsável pelos conteúdos, práticas e serviços ofertados nos mesmos. A presença de links para outros sites não implica relação de sociedade, de supervisão, de cumplicidade ou solidariedade do InSPira para com esses sites e seus conteúdos.</p>

      <h3 class="text__title text__title--padding-top">15. Indenização</h3>

      <p>O Usuário indenizará o InSPira, suas filiais, empresas controladas ou controladoras, diretores, administradores, colaboradores, representantes e empregados por qualquer demanda promovida por outros usuários ou terceiros decorrentes de suas atividades no site ou por seu descumprimento dos Termos e Condições Gerais de Uso e demais políticas do InSPira, ou pela violação de qualquer lei ou direitos de terceiros, incluindo honorários de advogados.</p>

      <h3 class="text__title text__title--padding-top">16. Legislação Aplicável e Foro de eleição</h3>

      <p>Todos os itens destes Termos e Condições Gerais estão regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação e ao cumprimento deste Contrato, as partes se submetem ao Foro Central da Comarca de São Paulo, estado de São Paulo.</p>
    </article>
  </div>
</main>
