<section class="cover-pages">
  <figure class="cover-pages__image" data-cover="<%= rand_cover %>"></figure>
</section>

<main class="main main--padding-top-40 wrapper">
  <div id="clearance" class="form-default password-reset">
    <h2><%= t(".title") %></h2>

    <p><%= t(".description") %></p>

    <%= form_for :password, url: passwords_path do |form| %>
      <div class="form-default__row">
        <div class="form-default__column form-default__column--one-columns">
          <%= form.label :email %>
          <%= form.text_field :email, type: 'email' %>
        </div>
      </div>

      <div class="form-default__row">
        <div class="form-default__column form-default__column--one-columns form-default--text-right">
          <%= link_to t(".sign_in"), sign_in_path %>
          <%= form.submit %>
        </div>
      </div>
    <% end %>
  </div>
</main>
