<%= form_tag interventions_path, method: :get, id: 'search', class: 'form-search wrapper' do %>
  <%= hidden_field_tag :view, params[:view] %>
  <h3 class="cover-pages__title-form">Explore as praças e eventos que acontecem na cidade</h3>

  <div class="form-search__column form-search__column--large">
    <%= label_tag 'Filtrar por tag' %>
    <%= text_field_tag 'query', params[:query], placeholder: 'Pesquisar praças e eventos' %>
  </div>

  <div class="form-search__column form-search__column--medium">
    <select name="tag", id="tag">
      <option value="any">Todos interesses</option>
      <%= options_from_collection_for_select(tags, 'id', 'name', params[:tag]) %>
    </select>
  </div>

  <div class="form-search__column form-search__column--small">
    <%= submit_tag 'Buscar', class: 'button' %>
  </div>
<% end %>
