<section class="cover-pages cover-pages--shadow cover-pages--shadow--down">
  <div class="cover-pages__form">
    <%= render partial: 'interventions/search' -%>
  </div>

  <figure class="cover-pages__image" data-cover="<%= rand_cover %>"></figure>
</section>

<nav class="navigation-collectives">
  <div class="wrapper">
    <div class="navigation-collectives__left">
      <%= link_to I18n.t("interventions.new.title").pluralize, interventions_path(search_params), class: 'navigation-collectives__link navigation-collectives__link--current' %>
      <%= link_to I18n.t("collectives.show.title").pluralize, collectives_path(search_params), class: 'navigation-collectives__link' %>
    </div>

    <div class="navigation-collectives__right">
      <%= link_to 'Lista',
                  interventions_path(search_params.merge(view: 'list')),
                  class: 'navigation-collectives__link navigation-collectives__link--list' %>

      <%= link_to 'Mapa',
                  interventions_path(search_params.merge(view: 'map')),
                  class: 'navigation-collectives__link navigation-collectives__link--map navigation-collectives__link--current' %>
    </div>
  </div>
</nav>

<% if params['view'] == 'map' %>
  <%= content_tag :div, '', id: 'map', class: 'map',
    data: { locales: InterventionsPresenter.present(@interventions) } %>
<% else %>
  <section class="collective-main">
    <div class="wrapper">
    <div class="collective-main__list">
        <% @interventions.each do |intervention| %>
          <%= render 'collectives/interventions/details', intervention: intervention %>
        <% end %>
      </div>

      <div class="collective-main__pagination">
        <%= paginate @interventions %>
      </div>
    </div>
  </section>
<% end %>
