html, body{
  height: 100%;
}

html {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: $em-base;
  line-height: 1.4;
  -webkit-font-smoothing: subpixel-antialiased;
}

object{
  display: none;
}

.wrapper {
  @include clearfix;
  @include outer-container;
  position: relative;

  @include media(max-width $mobile-size) {
    padding: 0 10px;
  }
}

.hidden {
  display: none;
}
