.sub-title{
  display: block;
  line-height: rem(40);
  font-family: $fontNewCicleSemi;
  font-size: rem(40);
  color: $white;
  position: relative;
  font-weight: normal;

  @include media(max-width $mobile-size) {
    line-height: rem(30);
    font-size: rem(30);
  }

  &--center{
    text-align: center;
  }

  &--margin-bottom{
    margin-bottom: 50px;

    @include media(max-width $mobile-size) {
      margin-bottom: 20px;
    }
  }
}

.title-bottom{
  clear: both;
  padding: 30px 0;
  font-family: $fontPTSans;
  font-size: rem(30);
  font-weight: 400;
  color: $black;
}
