@include keyframes(heart) {
  0% {
    @include transform(scale(0.5));
  }

  50% {
    @include transform(scale(.6));
  }

  100% {
    @include transform(scale(0.5));
  }
}

.github,
.tracer{
  display: block;

  &:before{
    @include transform(scale(0.6));
    width: 30px;
    height: 30px;
    background-size: cover;
    content: '';
    display: block;
    position: relative;
  }
}

.github{
  position: relative;
  margin-right: 15px;

  &:before{
    @include transform(scale(0.6));
    background: url(asset_path("icons/github.svg")) no-repeat center center;
    float: right;
  }

  &:after{
    width: 1px;
    height: 15px;
    background-color: $black;
    display: block;
    top: calc(50%/2);
    right: -5px;
    content: '';
    position: absolute;
    z-index: 9;
  }
}

.tracer{
  @extend %clearfix;
  width: 30px;
  height: 30px;
  font-stretch: 700;
  overflow: hidden;

  &:before{
    @include transform(scale(0.6));
    width: 30px;
    height: 30px;
    background: url(asset_path("icons/tracer.svg")) no-repeat center center;
    background-size: cover;
    float: left;
    content: '';
    display: block;
    position: relative;
  }

  &:hover{
    width: 100px;
    color: #0378b0;
  }
}

.icon-heart{
  width: 25px;
  height: 30px;
  margin-right: 5px;
  position: relative;

  &:before{
    @include animation(heart 1s linear);
    @include animation-iteration-count(infinite);

    width: 30px;
    height: 30px;
    left: calc(50% - 30px/2);
    background: url(asset_path("icons/heart.svg")) no-repeat center center;
    background-size: cover;
    display: block;
    content: '';
    position: absolute;
  }
}
