<div class="intervention_popup">
  <div class="wrapper">
    <header class="collective__header">
      <h3 class="intervention__title">
        <a href="{{href}}">
          {{name}}
        </a>
      </h3>

      <ul class="list-info--small">
        <li class="list-info__item list-info__item--icon-pin">{{place}}</li>
        <li class="list-info__item list-info__item--icon-date">{{schedule}}</li>
      </ul>

      <ul class="list-tags list-tags--small">
        {{#each tags}}
        <li class="list-tags__item list-tags--icon-{{this.param}}" data-tooltip="{{this.name}}">
          <a class="list-tags__link" href="javascript:;">{{this.name}}</a>
        </li>
        {{/each}}
      </ul>
    </header>

    <div class="header-collective">
      <a class="header-collective__link" href="{{collective_url}}">
        <span class="header-collective__image"><img src="{{collective_avatar}}" alt="{{collective_name}}"></span>
        <span class="header-collective__title">{{collective_name}}</span>
      </a>
    </div>
  </div>

  <a href="{{href}}">
    <img class="intervention_popup__image" src="{{avatar_url}}">
  </a>
</div>
