<!DOCTYPE html>
<html>
  <head>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="initial-scale=1">

    <title><%= title %></title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <% if ENV['ALLOW_BOTS_FOLLOW'] == 'false' %>
      <meta name="robots" content="noindex, nofollow" />
    <% end -%>
    <%= favicon_link_tag 'favicon.png' %>
    <%= csrf_meta_tags %>
    <%= display_meta_tags %>
  </head>
  <body class="<%= body_class %>">

    <%= render partial: "shared/header" -%>
    <%= yield %>
    <%= render partial: "shared/footer" -%>

  </body>
</html>
